/* altarspace.info home page (c) d duàn 2025 */

/* Reset some default browser styles */
* {
}

header {
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1;
    color: #333;
    background-color: #e6e6e6;
}

body > img, main {
    width: 66vw;
    max-width: 666px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/*                                                                                          links & buttons */
a {
    color: #007BFF;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}


.container {
}


button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: #0056b3;
}
